<div class='basic'>
  <label for="created-at">You created your account at: <%= current_user.created_at %></label>
  <br />
  <label for="updated-at">You were recently on at: <%= current_user.updated_at %></label>
  <br />
  <label for="tweets">You have <%= current_user.tweets.length %> tweets</label>
  <br />
  <label for="tag">Rank: <%= tag.span current_user.tag, style: "color: #{current_user.color}" %></label>
</div>
