<h3>Basic Information</h3>
<div class='basic'>
  <label for="created-at">Your account was created at: <%= current_user.created_at %></label>
  <br />
  <label for="updated-at">You updated your account at: <%= current_user.updated_at %></label>
</div>
